<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<h1>Exercise 1: Create a Jupyter Notebook</h1>

<h2><strong>Name:</strong>DataScienceEcosystem.ipynb</h2>

<strong>Exercise 2 - Create a markdown cell with the title of the notebook.</strong>

# Data Science Tools and Ecosystem

<strong>Exercise 3 - Create a markdown cell for an introduction.</strong>

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

<strong>Objectives:</strong>
<ul>
    <li>Popular languages that Data Scientists use.</li>
    <li>Commonly used libraries by Data Scientists.</li>
    <li>Basic arithmetic operations</li>
</ul>

<strong>Exercise 4 - Create a markdown cell to list data science languages.</strong>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python.</li>
    <li>R.</li>
    <li>SQL.</li>
    
</ol>

<strong>Exercise 5 - Create a markdown cell to list data science libraries.</strong>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>TensorFlow.</li>
    <li>NumPy.</li>
    <li>SciPy.</li>
    <li>Pandas.</li>
    <li>Matplotlib.</li>
    <li>Keras.</li>
    <li>SciKit-Learn.</li>
    <li>PyTorch.</li>
   
</ol>

<strong>Exercise 6 - Create a markdown cell with a table of Data Science tools.</strong>

Data Science Tools:

<table style="width:100%">
  <tr>
    <th>Data Science Tools</th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>SAS. It is one of those data science tools which are specifically designed for statistical operation</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Apache Spark</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>BigML</td>
    <td></td>
    <td></td>
  </tr>
</table>

<strong>Exercise 7 - Create a markdown cell introducing arithmetic expression examples.</strong>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
# addition
3+5

8

In [6]:
# subtraction
5-3

2

In [7]:
# multiplication

3*5

15

In [8]:
# division

5/5

1.0

<strong>Exercise 8 - Create a code cell to multiply and add numbers</strong>

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

<strong>Exercise 9 - Create a code cell to convert minutes to hours. </strong>

In [4]:
# This will convert 200 minutes to hours by diving by 60

time = 200

hours=time / 60

hours

3.3333333333333335

<strong>Exercise 10 -Insert a markdown cell to list Objectives.</strong>

<p>Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.</p>

<strong>Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.</strong>

<h2>Author:</h2> 
Subhash